.page3 { 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 525px;
  h1 {
    padding: .5rem 2rem;
    display: inline-block;
  }
  .content h2{
    font-size: 1.2rem;
    font-family: 'Minimal Mono', monospace;
    font-style: normal;
    font-weight: normal;
    &::after{
      width: 100%;
    }
  }
  h3 {
    font-family: 'Galaxie Polaris',Helvetica, sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: .9rem;
  }
  .social{
    display: flex;
    justify-content: space-between;
    .social__networks{
      margin-left: 2%;
    }
    svg{
      margin: .2rem;
    }
  }
}

.contact h2::after, .page3__title::after{
  content: ' ';
  display: block;
  height:.24em;
  background: $gradient1;
}
.contact h2::after{
  background-size: 200% 200%;
}
.contact:hover h2::after{
  animation: Gradient 3s ease infinite;
}
.page3__title{
  font-size: 1.8rem;
  transform: rotate(-3deg) translateX(-5px);
  &::after{
    width: 110%;
  }
}

.content{
  display: flex;
}

.content__about, .content__looking{
  width:85vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  line-height: 1.4;
  .intro{
    margin-bottom: 1rem;
  }
  p{
    margin: .8rem 0;
  }
  @media (min-width:800px){
    width: 40vw;
  }
}  
.content__looking{
  align-items: center;
  display: none;
  @media (min-width:800px){
    display: flex;
  }
}
.contact{
  @include flexcenter();
  font-size: 1.2rem;
  margin-right: 2%;
  svg {
    width: 28px;
  }  
}  
