.social{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
  .social__icon{
  margin:1rem;
  }
}

.page__header{
  width: 80vw;
  height: 30vh;
  margin: 0 auto;
  @include flexcenter();
  color: #fff;
  background: $gradient3;
  text-align: center;
}

.page__subheader{
  width: 80vw;
  margin: 0 auto;
}

.page__1{
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 line-height: 1.2;
}

.arrow{
  text-align: center;
}