body,html{
  overflow-x: hidden;
}
.social{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .social__icon{
    margin:1rem;
    transition: transform .3s;
    fill: #000;
    &:hover{
      transform: scale(1.1);
    }
  }
}

.headers{
  margin-top:-6%;
}
.page1__header{
  width: 90vw;
  height: 28vh;
  min-height: 100px;
  margin: 0 auto;
  @include flexcenter();
  color: #fff;
  background: $gradient3;
  background-size: 250% 250%;
  text-align: center;
  animation: Gradient 10s ease infinite;
}

.page1__subheader{
  width: 90vw;
  margin: 0 auto;
}

.page1{
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 line-height: 1.2;
 min-height: 425px;
}

.arrow{
  text-align: center;
  animation: jump 1.5s infinite .5s;
  
  svg{
    fill: #fff;
    stroke: #000;
    transition: .3s fill;
  }
  p{
    display:none;
  }
}