.slider>div:not(.slider__umr){
  display: none;
}

.slider{
  width: 100vw;
  height: 88vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width:1100px){
    flex-direction: row-reverse;
  }
  .slide{
    width: 90vw;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    @media (min-width:1100px){
    justify-content: flex-end;
    }
    .slide__header{
      background-color: #000;
      color: #fff;
      padding: 1rem 1.8rem 0 .3rem;
      width: fit-content;
      align-self: flex-start;
      @media (min-width:1100px){
        display: none;
      }
    }
    .slide__image{
      margin: 0 auto;
    }
  }
}

.button__inner p{
text-align: center;
}
.page2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  h2{
    display: inline-block;
    font-size: 38px;
    font-family: 'Mont';
  }
}

.projects{
  padding: 5%;
  display: flex;
  @media (min-width:1100px){
    flex-direction: column;
    align-items: flex-start;
  }
  h2{
    display: none;
    @media (min-width:1100px){
      display: block;
      margin:  5% 0;
    }
  }
  .projects__dot{
    display: inline-block;
    border: 2px solid #000;
    border-radius: 50%;
    margin: 0 .5rem ;
    @include size(15px, 15px);
    @media (min-width:1100px){
    display: none;
    }
  }

  a:first-of-type {
    .projects__dot{
      background: #000;
    }
    @media (min-width:1100px){
      h2{
        background: #000;
        color: #fff;
        padding: 1rem 1.8rem 0 .3rem;
        font-size: 3rem;
        &::after{
          content:'Javascript';
          font-family: 'Minimal Mono';
          font-size: 1rem;
        }
      }
    }
  }
    
  .projects__menu{
    margin-left: 1rem;
    @media (min-width:1100px){
      margin: 3rem 0;
      text-decoration: underline;
    }
  }
}
