@keyframes hover{
    0% {
        width: 0;
        height: 10px;
       }
    100% {   
        width: 100%;
        height: 10px;
       }
  }
  @keyframes no-hover {
    0% {   
        width: 100%;
        height: 10px;
       }
    100% {
        width: 0;
        height: 10px;
       }
  }
  @keyframes activer {
    0% {   
        width: 100%;
        height: 10px;
       }
    100% {
        width: 100%;
        height: 100%;
    }
  }
  @keyframes activerBg {
    0% {   
        background-size:0 0;
       }
    100% {
      background-size:100% 100%;
    }
  }    
  
  @keyframes no-activer{
    
    0% {
        width: 100%;
        height: 110%;
    }
    100% {   
        width: 100%;
        height: 0%;
       }
  }

  @-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes jump {
  50% {
    transform: translateY(-10px);
  }
}

@keyframes opacityappear {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}