//Gradients
$gradient1: linear-gradient(111deg, #009fff, #40025f 57%, #ec2f4b);
$gradient2: linear-gradient(199deg, #009fff, #40025f 42%, #ec2f4b);
$gradient3: linear-gradient(245deg, #009fff, #152aca 14%, #40025f 42%, #ec2f4b);
$gradient4: linear-gradient(281deg, #009fff, #40025f 42%, #ec2f4b);