@font-face {
  font-family: 'Galaxie Polaris';
  src: url('../assets/fonts/GalaxiePolaris-BoldItalic.woff2') format('woff2'),
      url('../assets/fonts/GalaxiePolaris-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Galaxie Polaris';
  src: url('../assets/fonts/GalaxiePolaris-Bold.woff2') format('woff2'),
      url('../assets/fonts/GalaxiePolaris-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Galaxie Polaris';
  src: url('../assets/fonts/GalaxiePolaris-HeavyItalic.woff2') format('woff2'),
      url('../assets/fonts/GalaxiePolaris-HeavyItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Galaxie Polaris';
  src: url('../assets/fonts/GalaxiePolaris-BookItalic.woff2') format('woff2'),
      url('../assets/fonts/GalaxiePolaris-BookItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}


@font-face {
  font-family: 'Mont';
  src: url('../assets/fonts/Mont-BlackItalic.woff2') format('woff2'),
  url('../assets/fonts/Mont-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Mont';
  src: url('../assets/fonts/Mont-Light.woff2') format('woff2'),
  url('../assets/fonts/Mont-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Minimal Mono';
  src: url('../assets/fonts/MinimalMonoBold.woff2') format('woff2'),
  url('../assets/fonts/MinimalMonoBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Minimal Mono';
  src: url('../assets/fonts/MinimalMonoRegular.woff2') format('woff2'),
      url('../assets/fonts/MinimalMonoRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}